@model The_Occasion.Models.PoemViewModels.SinglePoemViewModel
@using Microsoft.AspNetCore.Identity
@using The_Occasion.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Ontological Resolution (for Now)";
}

<div class="row poemrow">
    <div class="col-md-6 title">@Html.DisplayFor(model => model.Poem.Title)</div>

    @foreach (var line in Model.LinesArray)
    {
        <div class="col-md-12">@line</div>
    }
    <div class="col-md-6 author">@Html.DisplayFor(model => model.Poem.Author)</div>
</div>
<div class="row">
    <div class="favorite text-center">
        <div class="col-md-3"><button id="SaveBored" value="@Model.Poem.PoemId" class="btn btn-danger">Save to My Profile</button></div>
        <div class="col-md-3"><button id="DeleteBored" value="@Model.Poem.PoemId" class="hidden btn btn-danger">Delete From My Profile</button></div>
        </div>
    </div>

