@model The_Occasion.Models.PoemViewModels.SinglePoemViewModel
@using Microsoft.AspNetCore.Identity
@using The_Occasion.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Ontological Resolution (for Now)";
}

<div class="row poemrow">
    <h3 class="title">@Html.DisplayFor(model => model.Poem.Title)</h3>

    @foreach (var line in Model.LinesArray)
    {
        <div class="col-md-12">@line</div>
    }
    <div class="col-md-6 author">@Html.DisplayFor(model => model.Poem.Author)</div>
    <div class="col-md-3 bottom-buffer"><button id="SaveBored" value="@Model.Poem.PoemId" class="btn btn-danger">Save to My Profile</button></div>
    <div class="col-md-3"><button id="Delete" value="@Model.Poem.PoemId" class="hidden btn btn-danger">Delete From My Profile</button></div>
    <div class="col-md-3 hidden bottom-buffer" id="ItsSaved2">Your Poem Has Been Saved!</div>
    <div class="col-md-3 bottom-buffer"><a class="btn btn-danger hidden" asp-controller="Home" asp-action="Index" id="GoHome2">Take Me Home</a></div>
        </div>
