@model The_Occasion.Models.PoemViewModels.AllPoemsViewModel
@{
    ViewData["Title"] = "Mood Poems";
}

<h2 class="top-buffer">@ViewData["Title"]</h2>


   @foreach (var poem in Model.AllPoems)
   {

    <div class="row poemrow">
        <div class="col-md-12">@Html.DisplayFor(modelItem => poem.Title)</div>
        <div class="col-md-12"><a asp-controller="Poem" asp-action="Poem" asp-route-id="@poem.PoemId">@Html.DisplayFor(modelItem => poem.Author)</a></div>
        @*<div class="col-md-2">@Html.DisplayFor(modelItem => poem.TopicId)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => poem.TopicId)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => poem.TopicId)</div>
            <div class="col-md-2">
            </div>*@
    </div>
   }
