@model The_Occasion.Models.PoemViewModels.UserSelectionViewModel
@{
    ViewData["Title"] = "Your Favorite Poems";
}
<h3 class="top-buffer">@ViewData["Title"]</h3>
<div class="row poemRow top-buffer">
        <div class="col-md-6">Poems You Like</div>
    @foreach (var poem in Model.UserLikedPoems)
    {

        <div class="col-md-6">
            <a asp-controller="Poem" asp-action="SavedPoem" asp-route-id="@poem.PoemId">@Html.DisplayFor(modelItem => poem.Title)</a>
        </div>

        <div class="col-md-6 author">@Html.DisplayFor(modelItem => poem.Author)</div>
    }

        <div class="col-md-6">Haikus Your Computer Wrote For You</div>
    @foreach (var poem in Model.UserGeneratedHaikus)
    {

        <div class="col-md-6">
            <a asp-controller="Poem" asp-action="SavedPoem" asp-route-id="@poem.PoemId">@Html.DisplayFor(modelItem => poem.Title)</a>
        </div>

        <div class="col-md-6 author">@Html.DisplayFor(modelItem => poem.Author)</div>
    }

    <div class="col-md-6">Sonnets Your Computer Wrote For You</div>
    @foreach (var poem in Model.UserGeneratedSonnets)
    {

        <div class="col-md-6">
            <a asp-controller="Poem" asp-action="SavedPoem" asp-route-id="@poem.PoemId">@Html.DisplayFor(modelItem => poem.Title)</a>
        </div>

        <div class="col-md-6 author">@Html.DisplayFor(modelItem => poem.Author)</div>
    }
</div>
