@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity

@model The_Occasion.Models.PoemViewModels.PickyPoemsViewModel
@{
    ViewData["Title"] = "Welcome to The Occasion";
}

<div class="form-group findselect" id="formCurateselect">

    <div class="col-md-10">
        @Html.DropDownList("Forms.Id", @Model.FormId)
    </div>
</div>

<div class="form-group findselect" id="moodCurateselect">
    <div class="col-md-10">
        @Html.DropDownList("Moods.Id", @Model.MoodId)
    </div>
</div>
<div class="form-group findselect" id="topicCurateselect">
    <div class="col-md-10">
        @Html.DropDownList("Topics.Id", @Model.TopicId)
    </div>
</div>

<div class="text-center">
    <a class="btn btn-danger" id="CurateMe">Hit Me</a>
</div>
<div id="hereBePickyPoems"></div>