@model The_Occasion.Models.PoemViewModels.SinglePoemViewModel
@using Microsoft.AspNetCore.Identity
@using The_Occasion.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<form asp-action="SaveUserHaiku">
        <div class="title-me"><input class="form-control" asp-for="Poem.Title" placeholder="Enter a Title to Save"></div>
    <div class="row poemRow">
        <input class="form-control hidden" asp-for="Poem.Lines" />
        <span class="hidden">@Model.Poem.Lines</span>
        <input class="form-control hidden" asp-for="Poem.FormId" />
        <span class="hidden">@Model.Poem.FormId</span>
        <input class="form-control hidden" asp-for="Poem.MoodId" />
        <span class="hidden">@Model.Poem.MoodId</span>
        <input class="form-control hidden" asp-for="Poem.TopicId" /><span class="hidden">@Model.Poem.TopicId</span>
        <div class="poem-input">
        <div class="col-lg-12">@Model.Line1</div>
        <div class="col-lg-12">@Model.Line2</div>
        <div class="col-lg-12">@Model.Line3</div>
        </div>
        <input class="form-control hidden" asp-for="Poem.
        Author" /><span class="attribution"> Brought to you courtesy of @Html.DisplayFor(model => model.Poem.Author)'s computer</span>
        <div class="saveUserButton text-center">
            <input type="submit" class="btn btn-danger" id="SaveUserHaiku" value="Save">
        </div>
        </div>
    </form>