@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity 

@model The_Occasion.Models.HomeViewModels.HomeViewModel
@{
    ViewData["Title"] = "Welcome to The Occasion";
}

<div class="FindAPoem text-center homebutton">
    <a class="btn btn-danger t-tip" id="findButton" data-toggle="tooltip" data-placement="right" title="Click here to browse poems by form, topic, or mood!">Find a Poem</a>
</div>


<div class="form-group hidden findselect" id="formselect">


    <div class="col-md-10">
        @Html.DropDownList("Forms.FormId", @Model.FormId)
    </div>
</div>

<div class="form-group hidden findselect" id="moodselect">
    <div class="col-md-10">
        @Html.DropDownList("Moods.MoodId", @Model.MoodId)
    </div>
</div>


<div class="form-group hidden findselect" id="topicselect">
    <div class="col-md-10">
        @Html.DropDownList("Topics.TopicId", @Model.TopicId)
    </div>
</div>
@if (@UserManager.GetUserName(User) != null)
{

<div class="WhatHaveIDone text-center homebutton">
    <a class="btn btn-danger" asp-controller="Poem" asp-action="MyPoems" id="myPoems data-toggle="tooltip" data-placement="right" title="Click to see all your saved poems!">What Have I Done?</a>
</div>
<div class="boredButton text-center homebutton">
    <a class="btn btn-danger" id="bored" data-toggle="tooltip" data-placement="right" title="That's sad. Let us choose a poem for you.">I'm Paralyzed by Ennui</a>
</div>
<div class="CurateView text-center homebutton">
    <a class="btn btn-danger" asp-controller="Poem" asp-action="Picky" id="curateview" data-toggle="tooltip" data-placement="right" title="You're so demanding. We'll try to find a poem that meets your exact needs.">I'm Feeling Picky</a>
</div>

<div class="MakeAPoem text-center homebutton">
    <a class="btn btn-danger" asp-controller="Poem" asp-action="MySonnet" id="makePoem" data-toggle="tooltip" data-placement="right" title="It's possible your computer writes better poetry than you do. We'll build you a sonnet.'">Generate a Sonnet</a>
</div>

<div class="MakeAPoem text-center homebutton">
    <a class="btn btn-danger" asp-controller="Poem" asp-action="MyHaiku" id="makeHaiku" data-toggle="tooltip" data-placement="right" title="Feeling obscure but uncreative, are we?">Generate a Haiku</a>
</div>
}
<div id="hereBePoems"></div>