@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity 

@model The_Occasion.Models.HomeViewModels.HomeViewModel
@{
    ViewData["Title"] = "Welcome to The Occasion";
}
<div class="row">
<div class="FindAPoem text-center homebutton">
    <a class="btn btn-danger" id="findButton" data-title="Click here to browse poems by form, topic, or mood!">Find a Poem</a>
</div>

@if (@UserManager.GetUserName(User) != null)
{

<div class="WhatHaveIDone text-center homebutton">
    <a class="btn btn-danger" asp-controller="Poem" asp-action="MyPoems" id="myPoems"  data-title="Click to see all your saved poems!">What Have I Done?</a>
</div>
<div class="boredButton text-center homebutton">
    <a class="btn btn-danger" id="bored" data-title="That's sad. Let us choose a poem for you.">I'm Paralyzed by Ennui</a>
</div>
<div class="CurateView text-center homebutton">
    <a class="btn btn-danger" id="curebutt" data-title="You're so demanding. We'll try to find a poem that meets your exact needs.">I'm Feeling Picky</a>
</div>

<div class="MakeAPoem text-center homebutton">
    <a class="btn btn-danger" asp-controller="Sonnet" asp-action="MySonnet" id="makePoem" data-title="It's possible your computer writes better poetry than you do. We'll build you a sonnet.">Generate a Sonnet</a>
</div>

<div class="MakeAPoem text-center homebutton">
    <a class="btn btn-danger" asp-controller="Haiku" asp-action="MyHaiku" id="makeHaiku" data-title="Feeling obscure but uncreative, are we?">Generate a Haiku</a>
</div>
}
<div class="row">
<div id="hereBePoems"></div>
</div>

<div class="form-group hidden findselect browse" id="formselect">


    <div class="col-md-10">
        @Html.DropDownList("Forms.FormId", @Model.FormId)
    </div>
</div>

<div class="form-group hidden findselect browse" id="moodselect">
    <div class="col-md-10">
        @Html.DropDownList("Moods.MoodId", @Model.MoodId)
    </div>
</div>


<div class="form-group hidden findselect browse" id="topicselect">
    <div class="col-md-10">
        @Html.DropDownList("Topics.TopicId", @Model.TopicId)
    </div>
</div>

    <div class="row">
        <div class="form-group hidden findselect picky" id="formCurateselect">

            <div class="col-md-10">
                @Html.DropDownList("Forms.Id", @Model.FormId)
            </div>
        </div>

        <div class="form-group hidden findselect picky" id="moodCurateselect">
            <div class="col-md-10">
                @Html.DropDownList("Moods.Id", @Model.MoodId)
            </div>
        </div>

        <div class="form-group hidden findselect picky" id="topicCurateselect">
            <div class="col-md-10">
                @Html.DropDownList("Topics.Id", @Model.TopicId)
            </div>
        </div>

        <div class="text-center">
            <a class="btn btn-danger hidden" id="CurateMe">Hit Me</a>
        </div>

        <div id="hereBePickyPoems"></div>
    </div>
</div>